<h1>Inicio</h1>

<nav>
    <a href="/login">Iniciar sesión</a>

    <a href="/api/sessions/github">Entrar con GitHub</a>

    <a href="/register">Registrarse</a>

    <a href="/restore">Restaurar contraseña</a>
</nav>